<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div id="shopping-list">
        <h1>{{header || 'Welcome'}}</h1>
        <input  v-if="editing" type="text" @keyup.enter="saveItem" v-model="newItem">
        <button v-if="editing" @click="saveItem">ADD</button>
        <input v-if="editing" type="checkbox" v-model="highPriority" name="HighPriority" id="high">
        <label v-if="editing" for="high">High Priority</label>
        {{newItem}} | {{highPriority? "High":"low"}}

        <p v-if="items.length==0">Nice! You have completed your shopping</p>

        <ul>
           
            <li v-for="item in items" :key="item.id">{{item.id}} {{item.name}}</li>
            
        </ul>
       
    </div>
    
    <script src="https://unpkg.com/vue@3"></script>
    <script>
        Vue.createApp({
            data(){
                return {
                    header:"Shopping-list",
                    items :[],
                    highPriority:false,
                    newItem:"",
                    editing:true
                }
            },
            methods:{
                saveItem(){
                    this.items.push({id:this.items.length+1,name:this.newItem})
                    this.newItem=""
                }
            }
        }).mount('#shopping-list');
    </script>
    
</body>
</html>